
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/welcomelayout.cshtml";
}
<div>
<h1 align="center">
    <font face="Lato" color="blue"size="8"> @Html.ActionLink("EMPLOYER", "Index", "Emplyoer") </font>
    </h1>
<hr />
<hr />
<h1 align="center">
    <font face="Lato" color="black" size="8"> @Html.ActionLink("JOBSEEKER", "Index", "Jobseeker") </font>
</h1>


</div>