
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/welcomelayout.cshtml";
}


<div>
    <h1 align="center">
        <font face="Lato" color="blue" size="8">@Html.ActionLink("JOBSEEKER", "Login", "LoginJobSeeker")</font>
    </h1>
    <hr />
    <hr />
    <h1 align="center">
        <font face="Lato" color="blue" size="8">@Html.ActionLink("EMPLOYEER", "Login", "LoginEmp")</font>
    </h1>
    <a></a>
</div>
