
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/welcomelayout.cshtml";
}


<div>
    <h1 align="center">
        <font face="Lato" color="blue" size="8">@Html.ActionLink("LOGIN", "LoginEmpVal", "Employeer_Reg")</font>
    </h1>
    <hr />
    <hr />
    <h1 align="center">
        <font face="Lato" color="blue" size="8">@Html.ActionLink("REGISTRATION", "Create", "Employeer_Reg")</font>
    </h1>

</div>
