
@{
    ViewBag.Title = "Applynotfound";
    Layout = "~/Views/Shared/_Masterlayout.cshtml";
}
<br />
<br />
<br />
<br />



<h3 align="center" style="color:red">Sorry You have not applied for any job yet!!!!!</h3>


