
@{
    ViewBag.Title = "errnohasapply";
    Layout = "~/Views/Shared/_Masterlayout.cshtml";
}
<br />
<br />
<br />
<br />

<h3 align="center" style="color:red">Sorry  no one has applied  yet!!!!!</h3>

